<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HospitalApp</display-name>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.mvc.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLogin</display-name>
    <servlet-name>PatientLogin</servlet-name>
    <servlet-class>com.mvc.controller.PatientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogin</servlet-name>
    <url-pattern>/PatientLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardController</display-name>
    <servlet-name>DashBoardController</servlet-name>
    <servlet-class>com.mvc.controller.DashBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardController</servlet-name>
    <url-pattern>/DashBoardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientHomeController</display-name>
    <servlet-name>PatientHomeController</servlet-name>
    <servlet-class>com.mvc.controller.PatientHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientHomeController</servlet-name>
    <url-pattern>/PatientHomeController</url-pattern>
  </servlet-mapping>
</web-app>